# Personal devices. To configure yours,
# lsusb
# lsusb -v -s <bus>:<device>
# Follow the pattern

# NB! vendor/product IDs without leading 0x
# android
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", GROUP="plugdev", MODE="0770", SYMLINK+="android%n"
# Sony camera
SUBSYSTEMS=="usb", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0cae", GROUP="plugdev", MODE="0774", SYMLINK+="sony%n"
# Zoom H5 recorder
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1686", ATTRS{idProduct}=="01c5", GROUP="plugdev", MODE="0770", SYMLINK+="zoomh5%n"
