---
- name: 'xbps upgrade'
  xbps: name=xbps upgrade=yes

- name: 'xbps extra repos'
  xbps:
    name:
      - void-repo-nonfree
      - xtools
  tags:
    - packages

- name: 'xbps upgrade'
  xbps:
    upgrade: yes

- name: 'Install CLI utils'
  xbps:
    state: latest
    name: '{{item}}'
  loop:
    - vim
    - tree
    - psmisc
    - fzf
    - fd
    - curl
    - git
    - rxvt-unicode
    - urxvt-perls
    - unzip
    - base-devel
    - cups
  tags:
    - packages

- name: 'Install X'
  xbps:
    state: latest
    name: '{{item}}'
  loop:
    - xorg
    - alsa-utils
    - libX11-devel
    - libXft-devel
    - libXinerama-devel
    - xkblayout-state
    - libXrandr-devel
  tags:
    - packages
    - desktop
    - X

- name: 'Install Nvidia drivers'
  xbps:
    state: latest
    name: '{{item}}'
  loop:
    - nvidia
    - nvidia-opencl
  tags:
    - packages
    - nvidia
    - never

- name: 'install davinci dependencies'
  xbps:
    state: latest
    upgrade: yes
    name: '{{item}}'
  loop:
    - glu
    #    - libopencv
    #    - xcb-util
    #    - xcb-util-wm
    #    - xcb-util-image
    #    - xcb-util-keysyms
    #    - xcb-util-renderutil
    #    - libxkbcommon-x11
  tags:
    - davinci
    - never

- name: 'install personal'
  xbps:
    state: latest
    name: '{{item}}'
  loop:
    - feh
    - 'mpv'
    - 'fuse3'
    - 'hplip-gui'
    - 'simple-mtpfs'
    - 'gparted'
    - 'android-file-transfer-linux'
    - 'gphoto2'
    - 'v4l2loopback'
    - 'screenkey'
    - 'ffmpeg'
    - 'audacity'
    - 'kodi'
    - 'virtualbox-ose'
    - 'transmission'
    - 'firefox'
  tags:
    - packages

- name: 'Make dirs'
  file:
    path: "{{lookup('env', 'HOME')}}/{{item}}"
    state: 'directory'
  loop:
    - 'suckless'
    - '.fonts'

- import_tasks: suckless.yaml
- import_tasks: fonts.yaml
- import_tasks: key_bindings.yaml

- name: 'X11 conf dir'
  file:
    path: '/etc/X11/xorg.conf.d'
    state: directory
    recurse: yes

- name: 'DAS keyboard config'
  copy:
    src: 'keyboard.conf'
    dest: '/etc/X11/xorg.conf.d/30-keyboard.conf'

- name: 'udev rules'
  copy:
    src: 'udev.rules'
    dest: '/usr/lib/udev/rules.d/98-my_devices.rules'

- name: 'camera script'
  copy:
    src: 'camera.sh'
    dest: '/usr/local/bin/camera'
    mode: 0755
    owner: root
    group: root

- name: 'Alsa default config'
  template:
    src: 'asound.conf.j2'
    dest: '/etc/asound.conf'
  tags:
    - alsa

- name: 'Enable asound/alsa'
  file:
    src: '/etc/sv/alsa'
    path: '/var/service'
    state: link
  tags:
    - alsa

